<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iai.mdf">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.iai.mdf.Activities.MainActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.iai.mdf.Activities.SettingActivity" android:screenOrientation="landscape" />
        <activity android:name="com.iai.mdf.Activities.DataCollectionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iai.mdf.Activities.DataProcessActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iai.mdf.Activities.DemoRegrsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iai.mdf.Activities.DemoClassActivity" />
        <activity android:name="com.iai.mdf.Activities.DemoiTrackerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iai.mdf.Activities.DemoServerActivity2" android:screenOrientation="landscape" />
        <activity android:name="com.iai.mdf.Activities.DemoServerActivity1" android:screenOrientation="landscape"/>
        <activity android:name="com.iai.mdf.Activities.CalibrationActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.iai.mdf.Activities.TestPBActivity" />
        <activity android:name="com.iai.mdf.Activities.OpenCVActivity" />
        <activity android:name="com.iai.mdf.Activities.CloudActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.iai.mdf.Activities.Game.GameMenuActivity" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.TranslucentDecor" />
        <activity android:name="com.iai.mdf.Activities.Game.GameSettingActivity" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.TranslucentDecor" />
        <activity android:name="com.iai.mdf.Activities.Game.GameMainActivity" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.TranslucentDecor" />

    </application>

</manifest>